html, body {
  height: 100% !important;
  width: 100%;
  background: linear-gradient(#16222A, #3A6073);

}
.main-container {
  height: 100% ;
}
.big-container {
  height: 100% !important;
  width: 100%;
} 
.loader-container {
  height: 100%;
}